footer{
    background-image: url('../images/footer.png');
    width: 100%;
    -webkit-border-size: cover ;
    background-size: cover ;
    background-position: center center;
     background-repeat: no-repeat;
     margin: 10px 0 0;
    h3{
    color:$Primary-color;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0 0 0;
    }
    span{
        color: #333;
    }
    p{
        color: #333;
        font-size: 12px;
    }
    .links{
        list-style: none;
        .list-item{
            a{
                color: #333;
                text-decoration: none;
                margin: 0 6px;
                &:hover{
                    color:$secondary-color;
                }
            }
        }
    }
   
}