
.log-in{
    background-image: url('../');
    background-color: #3F4079;
    -webkit-border-size: cover ;
    background-size: cover ;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 60px 0;

.login{
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    border: 2px solid #dae0e5;
    border-radius: 10px;
    
     h1{
      color:#fff !important;
      text-align: center;
  } 
  .box-login{
     
    .btn-facebook {
        background-color: blue !important;
        color: #fff !important;
    }
    .btn-twitter {
        background-color: #42AEEC !important;
        color: #fff !important;
        transition: 5s;
  } 
  .fab {
      padding: 0 5px;
  }
}
    .box-login{
        padding: 10px 0;
        .form-control{
            border-radius: 20px;
        }
      .forgot{
          color: $Primary-color;
          text-decoration: none;
          font-weight: 400;
          &:hover{
              color: $main-color;
          }
      }  
      .btn-1{
          color: #fff;
          background-color:$Primary-color;
          border-radius: 22px;
          text-align: center;
          padding: 10px 70px;
          &:hover{
              background-color: $main-color;
              color: #333;
          }
      }
    }
    a{
        text-decoration: none;
        color: $main-color;
        padding-left: 5px;
        &:hover{
            color: $Primary-color;
        }
    }
}
   
}